<?xml version="1.0"?>
<launch>
    <!-- roomba number -->
    <arg name="roomba" default="roomba3"/>

    <!-- launch node -->
    <include file="$(find collaborative_vslam)/launch/creat_roomba_mask_image.launch">
        <arg name="roomba" default="$(arg roomba)"/>
    </include>

    <!-- debug -->
    <include file="$(find collaborative_vslam)/launch/unzipping.launch">
        <arg name="roomba" default="$(arg roomba)"/>
    </include>
    <include file="$(find collaborative_vslam)/launch/yolo.launch">
        <arg name="roomba" default="$(arg roomba)"/>
    </include>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find collaborative_vslam)/config/rviz/creat_mask_image.rviz"/>
</launch>
