<?xml version="1.0"?>
<launch>
    <!-- roomba number -->
    <arg name="roomba" default="roomba1"/>

    <!-- launch node -->
    <include file="$(find collaborative_vslam)/launch/initialize_map_scale_ratio.launch">
        <arg name="roomba" default="$(arg roomba)"/>
    </include>

    <!-- debug -->
    <group ns="$(arg roomba)">
        <include file="$(find collaborative_vslam)/launch/single_vslam_mono.launch">
            <arg name="roomba" default="$(arg roomba)"/>
        </include>
    </group>
    <include file="$(find collaborative_vslam)/launch/unzipping.launch">
        <arg name="roomba" default="$(arg roomba)"/>
    </include>
</launch>
