<?xml version="1.0"?>
<launch>
    <!-- roomba number -->
    <arg name="roomba" default="roomba1"/>

    <!-- launch node -->
    <!-- <node pkg="collaborative_vslam" type="scale_ratio_initializer_node" name="init_ratio" output="screen"> -->
    <node pkg="collaborative_vslam" type="scale_ratio_initializer_node" name="init_ratio">
        <!-- topic name -->
        <!-- sub -->
        <remap from="/pose"       to="/orb_slam3/camera_pose"/>
        <remap from="/wheel_odom" to="/$(arg roomba)/roomba/odometry"/>
        <!-- pub -->
        <remap from="/visual_sign" to="/$(arg roomba)/visual_sign"/>
        <remap from="/ratio_sign"  to="/$(arg roomba)/ratio_sign"/>
        <remap from="/scale_ratio" to="/$(arg roomba)/scale_ratio"/>

        <!-- parameter -->
        <param name="/hz" value="15"/>
        <param name="/move_dist_th" value="0.01"/>
        <param name="/scale_ratio_th_percent" value="0.1"/>
        <param name="/duration_init" value="1.0"/>
    </node>
</launch>
