<?xml version="1.0"?>
<launch>
    <arg name="leader"   default="roomba1"/>
    <arg name="follower" default="roomba3"/>

    <!-- record bag -->
    <node pkg="rosbag" type="record" name="rosbag_record" args="record -o /home/amsl/bagfiles/nakamura/collab_bag_test/collab_bag_test.bag
        /$(arg leader)/scale_ratio
        /$(arg leader)/orb_slam3/visualize_sign
        /$(arg leader)/orb_slam3/lost_sign
        /$(arg leader)/orb_slam3/merge_sign
        /$(arg leader)/orb_slam3/camera_pose
        /$(arg leader)/orb_slam3/all_mappoints
        /$(arg leader)/orb_slam3/match_point_num
        /$(arg leader)/orb_slam3/tracking_image/compressed
        /$(arg leader)/target/angle
        /$(arg leader)/roomba/odometry
        /$(arg follower)/scale_ratio
        /$(arg follower)/orb_slam3/visualize_sign
        /$(arg follower)/orb_slam3/lost_sign
        /$(arg follower)/orb_slam3/merge_sign
        /$(arg follower)/orb_slam3/camera_pose
        /$(arg follower)/orb_slam3/all_mappoints
        /$(arg follower)/orb_slam3/match_point_num
        /$(arg follower)/orb_slam3/tracking_image/compressed
        /$(arg follower)/object_positions
        /$(arg follower)/roomba/odometry
        /$(arg leader)/collaborative_pose
        /$(arg leader)/pose_from_follower
        /$(arg leader)/follower_pose
        /$(arg leader)/collaborative_map
        /$(arg follower)/collaborative_pose
        /$(arg follower)/pose_from_leader
        /$(arg follower)/leader_pose
        /$(arg follower)/collaborative_map
        /system/map_origin
        /leader_pose_on_return
        /system/map_origin_for_follower
        /map_origin_for_followermap_origin_for_follower
        /follower_pose_on_return"/>
</launch>
